* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.translation {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
}

